.imageSlider{
    height: 600px;
    object-fit: cover;
}
.sliderCaption{
    color: var(--primary);
    padding: 12px 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: rgba(240, 240, 240, 0.5 );
}
.coverImage{
    width: 100%;
    height: auto;
}